.center-tagebuch {
  text-align: center;
}

.button-tagebuch {
  width: 80%;
  height: 4em;
  margin-top: 0.7em;
}

.negative {
  background-color: #bb9af3 !important;
  border-color: #bb9af3 !important;
}
.neutral {
  background-color: #f3803e !important;
  border-color: #f3803e !important;
}

.positive {
  background-color: #fde802 !important;
  border-color: #fde802 !important;
}

.emoji {
  font-size: 2.1em;
  color: black;
}

.center-positive-stimmung-uebersicht {
  text-align: center;
  margin-top: 6em;
}

.button-left-positive-stimmung-uebersicht {
  margin-top: 9em;
  width: 9em;
  height: 3.5em;
  margin-right: 3em;
  /*background-color: rgb(196, 129, 98) !important;*/
  /*border-color: black !important;*/
  /*color: black !important;*/
}

.button-right-positive-stimmung-uebersicht {
  margin-top: 9em;
  width: 9em;
  height: 3.5em;
  margin-left: 3em;
  /*background-color: rgb(196, 129, 98) !important;*/
  /*border-color: black !important;*/
  /*color: black !important;*/
}

.btn-text-positive-stimmung-uebersicht {
  margin-top: 0.55em !important;
}

.calendar-emojis-positive {
  font-size: 3em;
  text-align: center;
  color: #fde802;
}
.calendar-emojis-neutral {
  font-size: 3em;
  text-align: center;
  color: #f3803e;
}
.calendar-emojis-negative {
  font-size: 3em;
  text-align: center;
  color: #bb9af3;
}
