g#gNetz circle {
    fill: #53C991;
    stroke: #333;
    stroke-width: 0.4;
}

g#gNetz line {
    fill: none;
    stroke: #000000;
    stroke-width: 5;
}

g#gNetz circle:hover {
    fill: #FDE802;
}

g#gNetz circle:active {
    fill: #000000;
}