g#gNetz circle {
    fill: #53C991;
    stroke: #333;
    stroke-width: 0.4;
}

g#gNetz line {
    fill: none;
    stroke: #000000;
    stroke-width: 5;
}

g#gNetz circle:hover {
    fill: #FDE802;
}

g#gNetz circle:active {
    fill: #000000;
}

image.ressource {
    width: 11%;
    height: 11%;
}

#deleteActivity {
    float: right;
}

/* Übernommen und leicht angepasst aus: https://stackoverflow.com/questions/38023932/custom-scrollbar-only-in-one-div */
.scrollbar {
	float: left;
	height: 300px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}

h2 {
    display: none;
}

@media print {
    h3, p, h1, img {
        display: none;
    }
    svg {
        position: absolute;
        top: 0px;
    }

    h2 {
        display:block;
        position: absolute;
        top: 0px;
    }
}
