g#gNetz ellipse, g#gNetz circle {
    stroke: #333;
    stroke-width: 2.5;
}

g#gNetz circle#kreis0 {
    fill: #53C991;
}

g circle.addPerson:hover {
    fill: #FDE802;
}

g circle.addPerson:active {
    fill: #000000;
}

g circle.addPerson {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2.5;
}

Button#hinzufuegen {
    margin-top: 10px;
}

image, img.symbol {
    height: 3%;
    width: 3%;
}

input[type=checkbox] {
    transform: scale(1.5);
}

#uebungBeenden {
    float: left;
}